<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


	<!-- Slit Slider css -->
    <link rel="stylesheet" href="css/slit-slider.css">
	<!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/main.css">  

	<!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

	<!--
	Google Font
	=========================== -->                    
	
	<!-- Oswald / Title Font -->
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
	<!-- Ubuntu / Body Font -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
	
	<!-- Modernizer Script for old Browsers -->		
    <script src="js/modernizr-2.6.2.min.js"></script>


</head>
<body>

		        <!-- 
	        Fixed Navigation
	        ==================================== -->
	        <header id="navigation" class="navbar navbar-fixed-top navbar-inverse">
	            <div class="container">
	                <div class="navbar-header">
	                    <!-- responsive nav button -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                        <span class="sr-only">Menú</span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
						<!-- /responsive nav button -->
						
						<!-- logo -->
	                    <a class="navbar-brand" href="#body">
							<h1 id="logo">
								<h2><span class="color">Canchaltoque</span>.com</h2>
							</h1>
						</a>
						<!-- /logo -->
	                </div>

					<!-- main nav -->
	                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
	                    <ul id="nav" class="nav navbar-nav">
	                        <li class="current"><a href="#body">Bienvenidos</a></li>
	                        <li><a href="#services">Servicios</a></li>
	                        <li><a href="#contact-us">Sumese</a></li>
	                    </ul>
	                </nav>
					<!-- /main nav -->
					
	            </div>
	        </header>
	        <!--
	        End Fixed Navigation
	        ==================================== -->



		<div class="container-fluid centered">
			<div style="background: white;">
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>sdhfvsdjhmfvsdjhmfvsjdfvsjhfvjhvfsdf</p>
				<p>prueba</p>
				<p>prueba</p>				
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
				<p>prueba</p>
			</div>


		</div>




												<!-- style="position: fixed; bottom: 0px;" -->
			<footer id="footer" class="bg-one"  >
				<div class="container">
				    <div class="row wow fadeInUp" data-wow-duration="500ms">
						<div class="col-lg-12">
							
							<!-- Footer Social Links -->
							<div class="social-icon">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
							<!--/. End Footer Social Links -->

							<!-- copyright -->
							<div class="copyright text-center">
								<a href="index.html">
									<h2><span class="color">Canchaltoque</span>.com</h2> 
								</a>
								<br />
								
								<!-- <p>Design And Developed by <a href="http://www.themefisher.com"> Themefisher Team</a>. Copyright &copy; 2015. All Rights Reserved.</p> -->
							</div>
							<!-- /copyright -->
							
						</div> <!-- end col lg 12 -->
					</div> <!-- end row -->
				</div> <!-- end container -->
			</footer> <!-- end footer -->



</body>
</html>